@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#proxima_nova_altregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#proxima_nova_altregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 75, D:/ProjectJS/abz.agency/src/scss/share.scss */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 79, D:/ProjectJS/abz.agency/src/scss/share.scss */
.item {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

/* line 94, D:/ProjectJS/abz.agency/src/scss/share.scss */
.separator-image, .content-left-separator {
  width: 213px;
  height: 1px;
}

/* line 7, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-user-program-font, .content-menu-menu-div > p {
  font-family: "Proxima Nova", Georgia, sans-serif;
}

/* line 11, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-user-program-font-size-14 {
  font-size: 14px;
}

/* line 15, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-user-program-font-size-16, .content-menu-menu-div > p {
  font-size: 16px;
}

/* line 19, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu {
  margin-left: 15px;
  width: 100%;
}

/* line 24, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu > ul {
  list-style-type: none;
}

/* line 34, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 212px;
  height: 50px;
  border-bottom: 1px solid #e0e2e6;
  color: #59606b;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* line 45, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-img, #content-menu-menu-p1, #content-menu-menu-p2, #content-menu-menu-p3, #content-menu-menu-p4 {
  width: 26px;
  height: 26px;
  background: url(../images/pictograms.png) no-repeat;
  margin-left: 1px;
  margin-top: 3px;
}

/* line 52, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
#content-menu-menu-p1 {
  background-position: -1px -27px;
  cursor: pointer;
  border: 0 solid;
}

/* line 59, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
#content-menu-menu-p2 {
  background-position: -27px -27px;
  cursor: pointer;
  border: 0 solid;
}

/* line 66, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
#content-menu-menu-p3 {
  background-position: -51px -26px;
  cursor: pointer;
  border: 0 solid;
}

/* line 73, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
#content-menu-menu-p4 {
  background-position: -77px -27px;
  cursor: pointer;
  border: 0 solid;
}

/* line 80, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div > p {
  color: #59606b;
  margin-left: 25px;
}

/* line 87, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div:hover > #content-menu-menu-p1 {
  background-position: -1px -53px;
}

/* line 91, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div:hover > #content-menu-menu-p2 {
  background-position: -27px -53px;
}

/* line 95, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div:hover > #content-menu-menu-p3 {
  background-position: -51px -52px;
}

/* line 99, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div:hover > #content-menu-menu-p4 {
  background-position: -77px -53px;
}

/* line 103, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-menu-menu-div:hover > p {
  color: #c7cdd9;
}

/* line 107, D:/ProjectJS/abz.agency/src/scss/content-menu.scss */
.content-left-separator {
  margin: 13px 0 0 16px;
}

/*# sourceMappingURL=../../css/content-menu.map */